header{
    background-color: #f0ebeb;
}

section.my-articles{
    background-color: #f2e9e9;
}

/* *{
    color: blue; 
} */

header p{
    color: red;
}

li a{
    color: blue;
}

/* section.my-articles h2{
    color: brown;
} */

section.my-articles > h2{
    color: green;
}

/* h2+p{
    color: orange;
} */

section.my-articles h2+p{
    color: red;
}

ul+p{
    color: green;
}