/* 2rem unit means root element ka double font size kar degi*/

html{
    /* font-size: 10px; */
    font-size: 62.5%;  /* 10px == 62.5% */
}

.box1{
    font-size: 2rem;
}

.text-content{
    font-size: 3rem;
    border: 1rem solid red;
    margin: 0.5rem;
    padding: 2.5rem;
}

/* p{
    font-size: 200%; 100%, 16 ka 16 hi rhega
} */

div{
    border: 2px solid red ;
    font-size: 10px;
    width: 50%;
}

p{
    border: 1px solid green;
    width: 50%;
    /* font-size: 100%; */
    background: lightblue;
    margin: 10px auto;
    /* margin-left: 25%; */
    text-align: center;
}

