/* Transitions -- means kisi ek state ko dusre state me change hona */


.box{
    width: 100px;
    height: 100px;
    background: lightpink;
    border-radius: 40%;
    /* transition-property: background;
    transition-delay: 500ms;
    transition-timing-function: ease-out; */

    /* transition: background 1s ease-in-out,
                width 1s ease-in-out,
                height 1s ease-in; */
    transition: all 1s ease-in-out;
}

.box:hover{
    background: blue;
    width: 200px;
    height: 150px;
}