hr{
    width: 500px;
    margin-left: 0;
    border: 0.5px dashed black;
}

.box1{
    box-sizing: border-box; /* By default box-sizing is content-box */
    width: 500px;
    background: lightcoral;
    border: 10px solid red;
    margin-bottom: 10px;
}

.box2{
    width: 500px;
    background: lightcoral;
    border: 10px solid red;
}